* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-background {
  width: 100%;
  height: 100vh;
  /* border: 3px solid black; */
  background-image: url(/Assignment_No2/assets/images/food\ img\ Healthy\ eating.jpg);
  background-size: cover;
  flex-direction: column;
  align-content: end;
}
.food-menu {
  width: 100%;
  height: 30%;
  /* border: 3px solid purple; */
  background-color: rgba(164, 197, 121, 0.801);
  color: rgb(22, 22, 21);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px;
}
p {
  padding-top: 5px;
  font-size: larger;
}
button {
  font-size: medium;
  padding: 10px;
  background-color: wheat;
  color: rgb(22, 22, 21);
  border-radius: 10px;
}
